# Firebase keys
VITE_apiKey=
VITE_authDomain=
VITE_projectId=
VITE_storageBucket=
VITE_messagingSenderId=
VITE_appId=
# Stream API KEY
VITE_STREAM_API_KEY=
# For local development backend
VITE_BACKEND_URL=http://localhost:5000
