VITE_apiKey=
VITE_authDomain=
VITE_projectId=
VITE_storageBucket=
VITE_messagingSenderId=
VITE_appId=
MODE=development
VITE_BACKEND_URL=http://localhost:5000
VITE_STREAM_API_KEY=
# For production backend
VITE_BACKEND_URL=https://research-nest-backend.onrender.com
# For local development backend
# VITE_BACKEND_URL=http://localhost:5000
