# Basic
PORT=5000
NODE_ENV=development
DB_ENV=local
# Database connections url
MONGO_LOCAL_URL=mongodb://127.0.0.1:27017/researchNestLOCAL
MONGO_CLOUD_URL=
# Frontend url
DEVELOPMENT_FRONTEND_URL=http://localhost:5173
PRODUCTION_FRONTEND_URL=https://research-nest.netlify.app
# Message Encryption
MESSAGE_SECRET_KEY=3a2b1c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b1c2d3e4f5a6b7c8d9e0f1a2b
# Steam Chat API
STREAM_API_KEY=
STREAM_API_SECRET=
# For production, for cron job , not need for development
PING_URL=https://research-nest-backend.onrender.com

# LLM / AI Configuration
GROQ_API_KEY=sk-proj-...
# Allow uploading raw files/attachments to external LLM provider? (allow | deny)
AI_RISKY_UPLOAD=true
